* {
  margin: 0;
  padding: 0;
}
html {
  background: #ffe url(../images/bg.png);
  color: #000;
  font: large Baskerville, Georgia;
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}
form {
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}
input {
  background: rgba(255, 255, 255, 0.5);
  font-family: Baskerville, Georgia;
  font-size: x-large;
  -webkit-border-radius: 5px;
  border: 1px solid #000;
  padding: 3px 5px;
}
input[type=submit] {
  font-size: large;
  padding: 5px 10px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe), to(#bba));
  text-shadow: 0 1px 0 #fff;
}
input[type=submit]:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#998), to(#ddc));
  text-shadow: 0 1px 0 #ddd;
}
table {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  border: 1px solid #666;
  border-spacing: 0;
  margin-bottom: 20px;
}
th, td {
  padding: 5px;
  width: 50%;
}
caption {
  font-style: italic;
}
td {
  text-align: left;
}
tbody th {
  text-align: right;
  border-right: 1px solid #666;
}
tr.even th, tr.even td {
  background: rgba(0, 0, 0, 0.1);
}
